
@font-face {
  font-family: 'CocoGothic';
  src: url('CocoGothic.eot?#iefix') format('embedded-opentype'),  url('CocoGothic.woff') format('woff'), url('CocoGothic.ttf')  format('truetype'), url('CocoGothic.svg#CocoGothic') format('svg');
  font-weight: normal;
  font-style: normal;
}
